body {
  margin: 0;
}

/* NAVBAR */

.nav {
  width:100%;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 55px;
}

.nav-title {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}



/* CARD */

.card-picture {
  object-fit: cover;
  width: 125px;
  height: 168px;
  border-radius: 5px;  
}

.card {
  display: flex;
  padding: 1.5rem;
  height: 168px;
  max-width: 471px;
  overflow: hidden;
}
.card-info {
  padding-left: 10px;
}
.info-location {
  display: flex;
  align-items: center;
  height: 25px;
}
.info-logo {
  padding-right: 5px;
}
.info-country {
  padding-right: 10px;
  font-family: 'Inter';
  color: #2B283A;
}
.info-maps {
  font-family: 'Inter';
  text-decoration-line: underline;
  font-size: 10.24px;
  color: #918E9B;
}
.card-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  margin: 0;
  color: #2B283A;
}
.card-date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  color: #2B283A;
}
.card-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  color: #2B283A;
} 
